In [11]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

import src.metrics as M

In [8]:
df_start = pd.read_csv("data/health_study_dataset.csv")
display(df_start.head())
display(df_start.info())
display(df_start.describe())

dup_mask = df_start.duplicated(keep=False)

dup_mask.sum()

   id  age sex  height  weight  systolic_bp  cholesterol smoker  disease
0   1   57   F   168.9    65.8        141.8         4.58     No        0
1   2   47   M   180.4    95.9        144.8         5.18    Yes        0
2   3   59   F   169.9    82.2        151.7         6.16     No        0
3   4   72   M   157.7    93.1        151.0         6.63     No        0
4   5   46   M   192.6   104.1        144.1         5.21     No        0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           800 non-null    int64
 1   age          800 non-null    int64
 2   sex          800 non-null    object
 3   height       800 non-null    float64
 4   weight       800 non-null    float64
 5   systolic_bp  800 non-null    float64
 6   cholesterol  800 non-null    float64
 7   smoker       800 non-null    object
 8   disease      800 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 56.4+ KB

None

            id      age   height   weight  systolic_bp  cholesterol  disease
count  800.000  800.000  800.000  800.000      800.000      800.000  800.000
mean   400.500   49.426  171.849   73.413      149.179        4.929    0.059
std    231.084   14.501    9.804   13.685       12.793        0.848    0.235
min      1.000   18.000  144.400   33.700      106.800        2.500    0.000
25%    200.750   39.000  164.775   64.800      140.900        4.328    0.000
50%    400.500   50.000  171.350   73.200      149.400        4.970    0.000
75%    600.250   59.000  178.925   82.600      157.600        5.482    0.000
max    800.000   90.000  200.400  114.400      185.900        7.880    1.000

np.int64(0)

In [ ]:
df = df_start.copy()
df["sex"] = df["sex"].astype("category")
df["smoker"] = df["smoker"].astype("category")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           800 non-null    int64
 1   age          800 non-null    int64
 2   sex          800 non-null    category
 3   height       800 non-null    float64
 4   weight       800 non-null    float64
 5   systolic_bp  800 non-null    float64
 6   cholesterol  800 non-null    float64
 7   smoker       800 non-null    category
 8   disease      800 non-null    int64
dtypes: category(2), float64(4), int64(3)
memory usage: 45.7 KB

In [14]:
age = M.analys(df, x = "age")
weight = M.analys(df, x = "weight")
height = M.analys(df, x = "height")
systolic_bp = M.analys(df, x = "systolic_bp")
cholesterol = M.analys(df, x = "cholesterol")

print(f" Vad         | Medel | Median | Min | Max ")
print("-"*50)
print(f" Age         |  {age[0]:.2f}|   {age[1]}|    {age[2]}| {age[3]}")
print(f" Weight      |  {weight[0]:.2f}|   {weight[1]}|  {weight[2]}| {weight[3]}")
print(f" Height      | {height[0]:.2f}| {height[1]:.2f}| {height[2]}| {height[3]}")
print(f" Systolic_bp | {systolic_bp[0]:.2f}|  {systolic_bp[1]}| {systolic_bp[2]}| {systolic_bp[3]}")
print(f" Cholesterol |   {cholesterol[0]:.2f}|   {cholesterol[1]}|   {cholesterol[2]}| {cholesterol[3]}")

 Vad         | Medel | Median | Min | Max
--------------------------------------------------
 Age         |  49.43|   50.0|    18| 90
 Weight      |  73.41|   73.2|  33.7| 114.4
 Height      | 171.85| 171.35| 144.4| 200.4
 Systolic_bp | 149.18|  149.4| 106.8| 185.9
 Cholesterol |   4.93|   4.97|   2.5| 7.88